@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
     font-family: 'Poppins';
     src: url('./src/assets/fonts/Poppins-Regular.ttf') format('ttf');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'GroteskRegular';
     src: url('./src/assets/fonts/SpaceGrotesk-Regular.ttf') format('ttf');
     font-weight: normal;
     font-style: normal;
}
   
@font-face {
  font-family: 'GroteskBold';
  src: url('./src/assets/fonts/SpaceGrotesk-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
